.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-top: 1px solid #797979;
    padding: 15px 0;
    margin: 10px auto;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}